@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    @apply m-0 p-0 border-b-0 outline-0 text-[100%] ;
}
html {
    @apply text-[62.5%] overflow-y-scroll box-border ;
}
*,
*:before,
*:after {
    @apply box-border ;
}
body {
    @apply bg-[var(--primary-color)] leading-[1] !pr-0 ;
}
ol,ul,li {
    @apply list-none p-0 ;
}
ul li,
ol li {
    @apply p-[0.1em_0] ;
}
a img {
    @apply border-0
}
img {
    @apply max-w-full h-auto align-middle ;
}
body, button, input, select, textarea {
    @apply font-['Urbanist',sans-serif] text-[var(--primary-color2)] overflow-x-hidden overflow-y-auto;
}
p {
    @apply font-[400] text-[18px] leading-[28px] text-[#7A798A] ;
}
del,.disable {
    @apply line-through opacity-50 ;
}

button, input, select, textarea {
    @apply text-[100%] m-0 align-baseline ;
}
input, select, textarea {
    @apply text-[14px] max-w-full ;
}
textarea {
    @apply overflow-auto align-top ;
}
input[type="checkbox"] {
    @apply inline ;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    @apply leading-[1] cursor-pointer border-0 ;
}
input[type="checkbox"],
input[type="radio"] {
    @apply p-0 w-[18px] h-[18px] mr-[11px] cursor-pointer align-sub ;
}
input[type="search"]::-webkit-search-decoration {
    @apply appearance-none ;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    @apply border-0 p-0 ;
}
input:-webkit-autofill {
    @apply shadow-[0_0_0px_1000px_#f7f7f7_inset];
}
input[type="search"] {
    @apply outline-0 ;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    @apply hidden ;
}

.wpcf7-form select,
.wpcf7-form textarea,
.wpcf7-form input {
    @apply mb-0 ;
}
select{
    @apply appearance-none ;
}
.select{
    @apply relative overflow-hidden ;
}
.select::after {
    @apply font-['Font_Awesome_5_Pro'] content-['\f078'] text-[14px] right-[10px] font-[600] text-[#1F1F2C] block absolute bg-[0_0] top-1/2 pointer-events-none duration-[0.25s] transition-[all] ease-in -translate-y-1/2 ;
}
select option{
    @apply text-[15px] leading-[24px] text-[#1F1F2C] ;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    @apply border-[1px] border-solid border-[rgba(138,138,160,0.3)] outline-0 shadow-none text-[18px] leading-[28px] rounded-[4px] p-[13px_15px] w-full bg-transparent text-[#8A8AA0] ;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
    @apply border-[1px] border-solid border-[#8A8AA0] outline-0 shadow-none;
}
textarea::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="datetime"]::placeholder,
input[type="datetime-local"]::placeholder,
input[type="date"]::placeholder,
input[type="month"]::placeholder,
input[type="time"]::placeholder,
input[type="week"]::placeholder,
input[type="number"]::placeholder,
input[type="email"]::placeholder,
input[type="url"]::placeholder,
input[type="search"]::placeholder,
input[type="tel"]::placeholder,
input[type="color"]::placeholder {
    @apply text-[18px] font-[400] leading-[28px] text-[#8A8AA0];
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    @apply text-[15px] font-[700] leading-[22px] bg-[var(--primary-color3)] text-white rounded-[30px] p-[15px_39px] border-[1px] border-solid border-[var(--primary-color3)] inline-block appearance-none transition-[all] ease-in duration-[0.3s] ;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    outline: 0;
    @apply outline-0 border-[1px] border-solid border-[var(--primary-color3)] text-[var(--primary-color3)];
}
::-webkit-input-placeholder {
    @apply text-[#8A8AA0] ;
}
:-moz-placeholder {
    @apply text-[#8A8AA0] ;
}
::-moz-placeholder {
    @apply text-[#8A8AA0] opacity-100 ;
}
.error {
    @apply text-[16px] text-[var(--primary-color2)] mb-[10px] transition-[all] ease-in duration-[0.3s];
}
:-ms-input-placeholder {
    @apply text-[#8A8AA0] ;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-[700];
}
h1 {
    @apply text-[48px];
}
h2 {
    @apply text-[36px];
}
h3 {
    @apply text-[24px];
}
h4 {
    @apply text-[20px];
}
h5 {
    @apply text-[18px];
}
h6 {
    @apply text-[15px];
}
.fs-16 {
    @apply text-[16px];
}

label.error { 
    @apply text-[#ff0000];
}
.swiper-button-next:after,
.swiper-button-prev:after{
    @apply font-['Font_Awesome_5_Pro'] text-[20px];
}
.swiper-button-next:after{
    @apply content-["\f061"] ;
}
.swiper-button-prev:after{
    @apply content-["\f060"] ;
}

.bg-style{
    @apply !bg-[var(--primary-color5)] ;
    
}
.bg-style2{
    @apply !bg-[#fff] ;
    
}
.is_dark .bg-style2{
    @apply !bg-[#1F1F2C] ;
    
}
.bg-style3{
    @apply !bg-[#f8f8f8] ;
    
}
.is_dark .bg-style3{
    @apply !bg-[#1F1F2C] ;
    
}
#wrapper{
    @apply relative overflow-hidden max-w-full h-full ;
}
.color-popup{
    @apply text-[var(--primary-color2)];
}

a {
    @apply no-underline text-[var(--primary-color2)] tracking-[0.1px] duration-[0.3s] transition-[all] ease-in-out;
}
a:hover,
a:focus {
    @apply no-underline text-[var(--primary-color3)] outline-0 duration-[0.3s] transition-[all] ease-in-out;
}

.sc-button {
    @apply inline-block border-[2px] border-solid border-[var(--primary-color3)] text-[var(--primary-color3)] p-[11px_35px] rounded-[30px] duration-[0.3s]
    hover:border-transparent hover:outline-0 active:border-transparent active:outline-0 ; 
}
/* .is_dark .sc-button {
    color: #fff;
} */
.sc-button span {
    @apply font-[700] text-[14px] leading-[22px] relative duration-[0.3s] ;
}
/* .is_dark .sc-button.style-1:hover, */
.sc-button.fl-button:hover{
    @apply border-[2px] border-solid border-white bg-white ;
}
.sc-button.fl-button:hover span,
.sc-button.fl-button.active span {
    @apply text-white
}
.sc-button.style span {
    @apply pl-[26px] before:absolute before:font-['nfts'] before:text-[20px] before:left-0 before:font-[100] before:top-[-4px]; ;
}
.sc-button.style-1 {
    @apply border-[2px] border-solid border-white bg-white bg-[transparent_none_repeat_scroll_0_0] ;
}
/* .is_dark .sc-button.style-1 {
    border    : 2px solid #5142FC;
    color     : #fff;
    background: transparent none repeat scroll 0 0;
} */
.sc-button.style-1:hover span,
.sc-button.style-1:hover span::before{
    @apply text-[var(--primary-color3)];
}
.sc-button.style-1:hover span {
    @apply duration-[0.4s] ;
}
.sc-button.style-2 {
    @apply w-full p-0 flex justify-center items-center border-[2px] border-solid border-[var(--primary-color3)] ;
}
.sc-button.style-2 span {
    @apply leading-[50px] text-[15px] font-[700] text-[var(--primary-color2)] duration-[0.3s] ease-in-out ;
}
.sc-button.style-2 i {
    @apply text-[18px] text-[var(--primary-color3)] mr-[8px] duration-[0.3s] ease-in-out ;
}
/* .is_dark .sc-button.style-2 i {
    color: #fff;
} */
.sc-button.style-2:hover span,
.sc-button.style-2:hover i {
    @apply text-white duration-[0.3s] ease-in-out ;
}
.sc-button.loadmore {
    @apply bg-[#eeecff] border-[2px] border-solid border-[#eeecff] p-[14px_40px]
    hover:border-transparent hover:outline-0 hover:bg-[transparent_none_repeat_scroll_0_0] ;
}
/* .is_dark .sc-button.loadmore{
    background: transparent none repeat scroll 0 0;
    border-color: #fff;
} 
.is_dark .sc-button.loadmore:hover:after{
    background-color: #fff;
}*/
.sc-button.loadmore span {
    @apply text-[15px] ;
}
/* .is_dark .sc-button.loadmore:hover {
    border-color: transparent;
    outline: 0 none;
} */
.sc-button.style.rocket span::before {
    @apply content-["\e91d"];
}
.sc-button.style.note span::before {
    @apply content-["\e91b"] text-[20px];
}
.sc-button.style.wallet span::before {
    @apply content-["\e917"];
}
.sc-button.style.bag span::before {
    @apply content-['e901'] duration-[0.05s] ;
}
.sc-button.style.bag:hover span::before {
    @apply duration-[0.1s] ;
}
.fl-button {
    @apply relative ;
}
.fl-button i,
.fl-button span,
.fl-button span::after,
.fl-button span::before {
    @apply z-[1] ;
}
.fl-button:hover span::before{
    @apply duration-[0.3s] ;
}
/* .is_dark .dark-style2 .sc-button.fl-button.pri-3 {
    border-color: #fff;
}
.is_dark .dark-style2 .sc-button.fl-button.pri-3 span {
    color: #fff;
} */
.sc-button.fl-button.pri-3:hover span{
    @apply text-white ;
}
/* .is_dark .sc-button.fl-button.pri-3:hover span{
    color: #14141F;
} */
.sc-button.fl-button.pri-3:hover,
.sc-button.style-place-bid.fl-button.pri-3:hover{
    @apply border-[#5142FC] bg-[#5142FC] ;
}
/* .is_dark .sc-button.style-place-bid.fl-button.pri-3:hover{
    border-color: #5142FC;
    background: #5142FC;
} 
.is_dark .sc-button.fl-button.pri-3:hover{
    background-color: #fff;
    border-color: #fff;
}*/

:root {
    --primary-color : #fff;
    --primary-color2: #1F1F2C;
    --primary-color3: #5142FC;
    --primary-color4: #7A798A;
    --primary-color5: #F8F8F8;
    --primary-color6: #14141F;
    --primary-color7: #F8F8F8;
    --bg-section : #fff;
    --bg-section2 : #f8f8f8;
    --primary-color8: #7A798A;
}
.is_dark {
    --primary-color: #343444;
    --primary-color2 : #fff;
    --primary-color4: #EBEBEB;
    --primary-color5: #030303;
    --primary-color6: #ffffff;
    --primary-color7: #343444;
    --bg-section: #14141F;
    --bg-section2 : #14141F;
    --primary-color8: #fff;
}

.themesflat-container {
    @apply relative mx-auto px-[15px] w-[1440px] max-w-full ;
}

#main-nav ul li {
    @apply relative ;
}
#main-nav>ul>li {
    @apply float-left p-[26px_25px_26px_13px] ;
}
#main-nav>ul>li>a {
    @apply relative text-[18px] leading-[26px] font-[700] block text-white pr-[15.5px] hover:text-white ;
}
#main-nav>.menu>li.menu-item-has-children>a::after {
    @apply content-['\f107'] font-['Font_Awesome_5_Pro'] font-[300] absolute right-0 top-1/2 -translate-y-1/2 ;
}
#main-nav .sub-menu {
    @apply absolute top-full left-0 w-[250px] bg-white rounded-[2px] z-[9999] opacity-0 invisible duration-[0.3s] translate-y-[15px]
    before:content-[''] before:absolute before:top-[-5px] before:left-[25px] before:h-[15px] before:w-[15px] before:rotate-[45deg] before:bg-white ;
}
#main-nav .right-sub-menu {
    @apply left-auto right-0 ;
}
#main-nav .sub-menu li a {
    @apply block text-[18px] text-[#14141F] p-[20px] font-[700] ;
}
#main-nav .sub-menu li:not(:last-child) a {
    @apply border-b-[1px] border-solid border-b-[#e1e1e18e] ;
}
#main-nav li:hover .sub-menu {
    @apply opacity-100 visible translate-y-0 ;
}
#main-nav .sub-menu li.current-item a,
#main-nav .sub-menu li a:hover {
    @apply text-[var(--primary-color3)];
}
#main-nav .sub-menu .sub-menu {
    @apply left-[99%] top-0 translate-x-[-5px] !opacity-0 !invisible before:hidden ;
}
#main-nav .sub-menu .menu-item:hover .sub-menu {
    @apply !opacity-100 !visible ;
}
#main-nav>ul>li .sub-menu li {
    @apply relative;
}
#main-nav>ul>li .sub-menu li.menu-item-has-children:after {
    @apply right-[20px] text-[14px] leading-normal font-normal content-['\f105'] font-['Font_Awesome_5_Pro'] absolute top-1/2 -translate-y-1/2 text-[#14141F] ;
}
#main-nav>ul>li .sub-menu li a {
    @apply transition-all duration-[0.15s] ease-linear 
    after:content-[''] after:absolute after:w-0 after:h-[2px] after:bg-[var(--primary-color3)] after:left-[15px] after:top-[28px] after:transition-all after:duration-[0.3s] after:ease-in ;
}
#main-nav>ul>li .sub-menu li a:hover,
#main-nav>ul>li .sub-menu li.current-item a {
    @apply pl-[35px];
}
#main-nav>ul>li .sub-menu li a:hover::after,
#main-nav>ul>li .sub-menu li.current-item a:after {
    @apply w-[12px] ;
}

.top-search.show {
    @apply !visible !opacity-100 ;
}

.fl-item,
.fl-item2,
.fl-item3 {
    @apply hidden;
}

#scroll-top {
    @apply fixed block w-[50px] h-[50px] leading-[50px] rounded-[50%] text-center z-[1] right-[14px] bottom-[23px] opacity-0 invisible cursor-pointer overflow-hidden
    after:absolute after:top-0 after:left-0 after:w-full after:h-full after:transition-all after:duration-[0.3s] after:ease-in
    after:content-['\f077'] after:font-['Font_Awesome_5_Pro'] after:text-[18px] after:text-white after:font-[600]
    before:content-[''] before:absolute before:top-0 before:left-0 before:w-full before:h-full before:transition-all before:duration-[0.3s] before:ease-in 
    before:z-[-1] before:bg-[var(--primary-color3)] 
    hover:translate-y-[-7%];
}
#scroll-top.show {
    @apply right-[15px] opacity-100 visible ;
}
/* .is_dark #scroll-top:before {
    z-index         : -1;
    background-color: #fff;
}
.is_dark #scroll-top:after {
    color      : #5142FC;
} */

.tf-section {
    @apply p-[80px_0] bg-[var(--bg-section)] duration-[0.3s] ease-in-out transition-all ;
}

.swiper-button-prev, 
.swiper-button-next {
    @apply opacity-0 duration-[0.3s] ;
}