/**
  * Name: Axies - NFT Marketplace Tailwindcss Template
  * Version: 1.0.0
  * Author: Themesflat
  * Author URI: https://themeforest.net/user/themesflat/portfolio
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    @apply m-0 p-0 border-b-0 outline-0 text-[100%] ;
    font: inherit;
}
html {
    @apply text-[62.5%] overflow-y-scroll box-border ;
}
*,
*:before,
*:after {
    @apply box-border ;
}
body {
    @apply bg-[var(--primary-color)] leading-[1] !pr-0 ;
}
ol,ul,li {
    @apply list-none p-0 ;
}
ul li,
ol li {
    @apply p-[0.1em_0] ;
}
a img {
    @apply border-0
}
img {
    @apply max-w-full h-auto align-middle ;
}
body, button, input, select, textarea {
    @apply font-['Urbanist',sans-serif] text-[var(--primary-color2)] overflow-x-hidden overflow-y-auto;
}
p {
    @apply font-[400] text-[18px] leading-[28px] text-[#7A798A] ;
}
del,.disable {
    @apply line-through opacity-50 ;
}

button, input, select, textarea {
    @apply text-[100%] m-0 align-baseline ;
}
input, select, textarea {
    @apply text-[14px] max-w-full ;
}
textarea {
    @apply overflow-auto align-top ;
}
input[type="checkbox"] {
    @apply inline ;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    @apply leading-[1] cursor-pointer border-0 ;
}
input[type="checkbox"],
input[type="radio"] {
    @apply p-0 w-[18px] h-[18px] mr-[11px] cursor-pointer align-sub ;
}
input[type="search"]::-webkit-search-decoration {
    @apply appearance-none ;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    @apply border-0 p-0 ;
}
input:-webkit-autofill {
    @apply shadow-[0_0_0px_1000px_#f7f7f7_inset];
}
input[type="search"] {
    @apply outline-0 ;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    @apply hidden ;
}

.wpcf7-form select,
.wpcf7-form textarea,
.wpcf7-form input {
    @apply mb-0 ;
}
select{
    @apply appearance-none ;
}
.select{
    @apply relative overflow-hidden ;
}
.select::after {
    @apply font-['Font_Awesome_5_Pro'] content-['\f078'] text-[14px] right-[10px] font-[600] text-[#1F1F2C] block absolute bg-[0_0] top-1/2 pointer-events-none duration-[0.25s] transition-[all] ease-in -translate-y-1/2 ;
}
select option{
    @apply text-[15px] leading-[24px] text-[#1F1F2C] ;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    @apply border-[1px] border-solid border-[rgba(138,138,160,0.3)] outline-0 shadow-none text-[18px] leading-[28px] rounded-[4px] p-[13px_15px] w-full bg-transparent text-[#8A8AA0] ;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
    @apply border-[1px] border-solid border-[#8A8AA0] outline-0 shadow-none;
}
textarea::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="datetime"]::placeholder,
input[type="datetime-local"]::placeholder,
input[type="date"]::placeholder,
input[type="month"]::placeholder,
input[type="time"]::placeholder,
input[type="week"]::placeholder,
input[type="number"]::placeholder,
input[type="email"]::placeholder,
input[type="url"]::placeholder,
input[type="search"]::placeholder,
input[type="tel"]::placeholder,
input[type="color"]::placeholder {
    @apply text-[13px] font-[400] leading-[28px] text-[#8A8AA0];
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    @apply text-[15px] font-[700] leading-[22px] bg-[var(--primary-color3)] text-white rounded-[30px] p-[15px_39px] border-[1px] border-solid border-[var(--primary-color3)] inline-block appearance-none transition-[all] ease-in duration-[0.3s] ;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    outline: 0;
    @apply outline-0 border-[1px] border-solid border-[var(--primary-color3)] text-[var(--primary-color3)];
}
::-webkit-input-placeholder {
    @apply text-[#8A8AA0] ;
}
:-moz-placeholder {
    @apply text-[#8A8AA0] ;
}
::-moz-placeholder {
    @apply text-[#8A8AA0] opacity-100 ;
}
.error {
    @apply text-[16px] text-[var(--primary-color2)] mb-[10px] transition-[all] ease-in duration-[0.3s];
}
:-ms-input-placeholder {
    @apply text-[#8A8AA0] ;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-[700];
}
h1 {
    @apply text-[48px];
}
h2 {
    @apply text-[36px];
}
h3 {
    @apply text-[24px];
}
h4 {
    @apply text-[20px];
}
h5 {
    @apply text-[18px];
}
h6 {
    @apply text-[15px];
}
.fs-16 {
    @apply text-[16px];
}

label.error { 
    @apply text-[#ff0000];
}
.swiper-button-next:after,
.swiper-button-prev:after{
    @apply font-['Font_Awesome_5_Pro'] text-[20px];
}
.swiper-button-next:after{
    @apply content-["\f061"] ;
}
.swiper-button-prev:after{
    @apply content-["\f060"] ;
}

.bg-style{
    @apply !bg-[var(--primary-color5)]  ;
}
.bg-style2{
    @apply !bg-[#fff] dark:!bg-[#1F1F2C] ;
}
.bg-style3{
    @apply !bg-[#f8f8f8] dark:!bg-[#1F1F2C] ;
}
#wrapper{
    @apply relative overflow-hidden max-w-full h-full ;
}
.color-popup{
    @apply text-[var(--primary-color2)];
}

a {
    @apply no-underline text-[var(--primary-color2)] tracking-[0.1px] duration-[0.3s] transition-[all] ease-in-out;
}
a:hover,
a:focus {
    @apply no-underline text-[var(--primary-color3)] outline-0 duration-[0.3s] transition-[all] ease-in-out;
}
svg {
    @apply inline align-baseline ;
}
img {
    @apply inline ;
}

.sc-button {
    @apply inline-block border-[2px] border-solid border-[var(--primary-color3)] text-[var(--primary-color3)] p-[11px_35px] rounded-[30px] duration-[0.3s]
    hover:border-transparent hover:outline-0 active:border-transparent active:outline-0 dark:text-white ; 
}
.sc-button span {
    @apply font-[700] text-[14px] leading-[22px] relative duration-[0.3s] ;
}
.sc-button.fl-button:hover{
    @apply border-[2px] border-solid border-white bg-white ;
}
.sc-button.fl-button:hover span,
.sc-button.fl-button.active span {
    @apply text-white
}
.sc-button.style span {
    @apply pl-[26px] before:absolute before:font-['nfts'] before:text-[20px] before:left-0 before:font-[100] before:top-[-4px]; 
}
.sc-button.style-1 {
    @apply border-[2px] border-solid border-white text-white bg-none bg-transparent bg-repeat bg-scroll bg-[0_0]
    dark:border-[2px] dark:border-[#5142FC] dark:text-white dark:bg-transparent dark:bg-none dark:bg-repeat dark:bg-scroll dark:bg-[0_0]
    dark:hover:border-[2px] dark:hover:border-white dark:hover:bg-white;
}
.sc-button.style-1:hover span,
.sc-button.style-1:hover span::before{
    @apply text-[var(--primary-color3)];
}
.sc-button.style-1:hover span {
    @apply duration-[0.4s] ;
}
.sc-button.style-2 {
    @apply w-full p-0 flex justify-center items-center border-[2px] border-solid border-[var(--primary-color3)] ;
}
.sc-button.style-2 span {
    @apply leading-[50px] text-[15px] font-[700] text-[var(--primary-color2)] duration-[0.3s] ease-in-out ;
}
.sc-button.style-2 i {
    @apply text-[18px] text-[var(--primary-color3)] mr-[8px] duration-[0.3s] ease-in-out dark:text-white ;
}
.sc-button.style-2:hover span,
.sc-button.style-2:hover i {
    @apply text-white duration-[0.3s] ease-in-out ;
}
.sc-button.loadmore {
    @apply bg-[#eeecff] border-[2px] border-solid border-[#eeecff] p-[14px_40px]
    hover:border-transparent hover:outline-0 hover:bg-transparent hover:bg-none hover:bg-repeat hover:bg-scroll hover:bg-[0_0]
    dark:bg-transparent dark:bg-none dark:bg-repeat dark:bg-scroll dark:bg-[0_0] dark:text-white
    dark:hover:!bg-white dark:hover:bg-transparent dark:hover:outline-0 dark:hover:!border-white;
}
/* .is_dark .sc-button.loadmore:hover:after{
    background-color: #fff;
} */
.sc-button.loadmore span {
    @apply text-[15px] ;
}
.sc-button.style.rocket span::before {
    @apply content-["\e91d"];
}
.sc-button.style.note span::before {
    @apply content-["\e91b"] text-[20px];
}
.sc-button.style.wallet span::before {
    @apply content-["\e917"];
}
.sc-button.style.bag span::before {
    @apply content-['e901'] duration-[0.05s] ;
}
.sc-button.style.bag:hover span::before {
    @apply duration-[0.1s] ;
}
.fl-button {
    @apply relative ;
}
.fl-button i,
.fl-button span,
.fl-button span::after,
.fl-button span::before {
    @apply z-[1] ;
}
.fl-button:hover span::before{
    @apply duration-[0.3s] ;
}
/* .is_dark .dark-style2 .sc-button.fl-button.pri-3 {
    border-color: #fff;
}
.is_dark .dark-style2 .sc-button.fl-button.pri-3 span {
    color: #fff;
} */
.sc-button.fl-button.pri-3:hover span{
    @apply text-white dark:text-[#14141F] ;
}
.sc-button.fl-button.pri-3:hover,
.sc-button.style-place-bid.fl-button.pri-3:hover{
    @apply border-[#5142FC] bg-[#5142FC] ;
}
/* .is_dark .sc-button.style-place-bid.fl-button.pri-3:hover{
    border-color: #5142FC;
    background: #5142FC;
} 
.is_dark .sc-button.fl-button.pri-3:hover{
    background-color: #fff;
    border-color: #fff;
}*/

:root {
    --primary-color : #fff;
    --primary-color2: #1F1F2C;
    --primary-color3: #5142FC;
    --primary-color4: #7A798A;
    --primary-color5: #F8F8F8;
    --primary-color6: #14141F;
    --primary-color7: #F8F8F8;
    --bg-section : #fff;
    --bg-section2 : #f8f8f8;
    --primary-color8: #7A798A;
}
.dark {
    --primary-color: #343444;
    --primary-color2 : #fff;
    --primary-color4: #EBEBEB;
    --primary-color5: #030303;
    --primary-color6: #ffffff;
    --primary-color7: #343444;
    --bg-section: #14141F;
    --bg-section2 : #14141F;
    --primary-color8: #fff;
}

.themesflat-container {
    @apply relative mx-auto px-[15px] w-[1440px] max-w-full max-[1199px]:w-[1200px] max-[991px]:w-[970px] max-[767px]:w-[750px] max-[549px]:w-[750px] ;
}

#main-nav ul li {
    @apply relative ;
}
#main-nav>ul>li {
    @apply float-left p-[26px_25px_26px_13px] ;
}
#main-nav>ul>li>a {
    @apply relative text-[18px] leading-[26px] font-[700] block text-white pr-[15.5px] hover:text-white ;
}
#main-nav>.menu>li.menu-item-has-children>a::after {
    @apply content-['\f107'] font-['Font_Awesome_5_Pro'] font-[300] absolute right-0 top-1/2 -translate-y-1/2 ;
}
#main-nav .sub-menu {
    @apply absolute top-full left-0 w-[250px] bg-white rounded-[2px] z-[9999] opacity-0 invisible duration-[0.3s] translate-y-[15px]
    before:content-[''] before:absolute before:top-[-5px] before:left-[25px] before:h-[15px] before:w-[15px] before:rotate-[45deg] before:bg-white ;
}
#main-nav .right-sub-menu {
    @apply left-auto right-0 ;
}
#main-nav .sub-menu li a {
    @apply block text-[18px] text-[#14141F] p-[20px] font-[700] ;
}
#main-nav .sub-menu li:not(:last-child) a {
    @apply border-b-[1px] border-solid border-b-[#e1e1e18e] ;
}
#main-nav li:hover .sub-menu {
    @apply opacity-100 visible translate-y-0 ;
}
#main-nav .sub-menu li.current-item a,
#main-nav .sub-menu li a:hover {
    @apply text-[var(--primary-color3)];
}
#main-nav .sub-menu .sub-menu {
    @apply left-[99%] top-0 translate-x-[-5px] !opacity-0 !invisible before:hidden ;
}
#main-nav .sub-menu .menu-item:hover .sub-menu {
    @apply !opacity-100 !visible ;
}
#main-nav>ul>li .sub-menu li {
    @apply relative;
}
#main-nav>ul>li .sub-menu li.menu-item-has-children:after {
    @apply right-[20px] text-[14px] leading-normal font-normal content-['\f105'] font-['Font_Awesome_5_Pro'] absolute top-1/2 -translate-y-1/2 text-[#14141F] ;
}
#main-nav>ul>li .sub-menu li a {
    @apply transition-all duration-[0.15s] ease-linear 
    after:content-[''] after:absolute after:w-0 after:h-[2px] after:bg-[var(--primary-color3)] after:left-[15px] after:top-[28px] after:transition-all after:duration-[0.3s] after:ease-in ;
}
#main-nav>ul>li .sub-menu li a:hover,
#main-nav>ul>li .sub-menu li.current-item a {
    @apply pl-[35px];
}
#main-nav>ul>li .sub-menu li a:hover::after,
#main-nav>ul>li .sub-menu li.current-item a:after {
    @apply w-[12px] ;
}
.top-search.show {
    @apply !visible !opacity-100 ;
}
#header_main.is-fixed.is-small{
    @apply fixed top-0 left-0 opacity-100 visible duration-[0.5s] transition-all ease-in ;
} 
#header_main.is-fixed {
    @apply fixed top-[-161px] left-0 w-full shadow-[1px_1px_5px_0px_rgb(0_0_0/30%)] z-[9999] bg-[linear-gradient(227.3deg,#8A208C_0%,#181B81_100.84%)] border-none visible opacity-100 duration-[0.5s] transition-all ease-in
    dark:bg-[#14141F] dark:bg-none dark:shadow-[1px_1px_5px_0px_rgb(0_0_0/50%)] ;
}

.fl-item,
.fl-item2,
.fl-item3 {
    @apply hidden;
}

#scroll-top {
    @apply fixed block w-[50px] h-[50px] leading-[50px] rounded-[50%] text-center z-[1] right-[14px] bottom-[23px] opacity-0 invisible cursor-pointer overflow-hidden
    after:absolute after:top-0 after:left-0 after:w-full after:h-full after:transition-all after:duration-[0.3s] after:ease-in
    after:content-['\f077'] after:font-['Font_Awesome_5_Pro'] after:text-[18px] after:text-white after:font-[600]
    before:content-[''] before:absolute before:top-0 before:left-0 before:w-full before:h-full before:transition-all before:duration-[0.3s] before:ease-in 
    before:z-[-1] before:bg-[var(--primary-color3)] 
    hover:translate-y-[-7%]
    dark:before:z-[-1] dark:before:bg-white dark:after:text-[#5142FC];
}
#scroll-top.show {
    @apply right-[15px] opacity-100 visible ;
}

.tf-section {
    @apply p-[80px_0] bg-[var(--bg-section)] duration-[0.3s] ease-in-out transition-all ;
}

.swiper-container.show-shadow {
    @apply !px-[15px] !mx-[-15px] ;
}
.swiper-button-prev, 
.swiper-button-next {
    @apply opacity-0 duration-[0.3s] max-[1366px]:!hidden ;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    @apply !opacity-60 ;
}
.swiper-slide-active .flat-slider .flat-bt-slider {
    @apply !translate-y-0 !opacity-100 duration-[0.7s] delay-[1.1s]  ;
}
.swiper-slide-active .flat-slider p {
    @apply !translate-y-0 !opacity-100 duration-[0.7s] delay-[0.9s]  ;
}
.swiper-slide-active .flat-slider h2,
.swiper-slide-active .flat-slider h4,
.swiper-slide-active .flat-slider h1 {
    @apply !translate-y-0 !opacity-100 duration-[0.7s] delay-[0.7s]  ;
}
.swiper-slide-active .flat-slider .image {
    @apply !translate-x-0 !opacity-100 duration-[0.7s] delay-[0.7s]  ;
}
.flat-slider .bg-heading {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    -webkit-text-fill-color: rgb(0 0 0/0%);
    @apply dark:text-[#14141f] dark:bg-[linear-gradient(-45deg,#E250E5,#4B50E6,#E250E5,#4B50E6)] dark:bg-[length:100%_100%] dark:bg-clip-text;
}
.dark .flat-slider .bg-heading {
    -webkit-text-stroke: 3px transparent;
    -webkit-text-fill-color: unset;
}
.bg-heading-1 {
    @apply bg-[linear-gradient(178.56deg,#E250E5_5.32%,#4B50E6_94.32%)] ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes rainbow {
    0% {
        background-position: left ;
    }
    50% {
        background-position: right ;
    }
    100% {
        background-position: left ;
    }
}

.sc-card-product .card-media .featured-countdown .countdown__label {
    @apply mx-[5px] ;
}
.wishlist-button.active.heart::before {
    @apply text-[#ee3434] font-bold ;
}
.swiper-pagination {
    @apply max-[991px]:!hidden ;
}
.seller .swiper-pagination-bullets,
.auctions .swiper-pagination-bullets{
    @apply relative mt-[5px] flex justify-center justify-items-center pl-[15px] ;
}
.seller .swiper-pagination-bullet,
.auctions .swiper-pagination-bullet{
    @apply border-[1px] border-solid border-[var(--primary-color6)] bg-transparent w-[8px] h-[8px] relative opacity-100 ;
}
.seller-slider.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.auctions.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    @apply m-[0_11px_0_5px] ;
}
.seller-slider .swiper-pagination-bullet.swiper-pagination-bullet-active,
.auctions .swiper-pagination-bullet.swiper-pagination-bullet-active {
    @apply relative bg-[var(--primary-color6)] ;
}
.seller-slider .swiper-pagination-bullet.swiper-pagination-bullet-active::before,
.auctions .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    @apply absolute -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-[50%] content-[''] w-[16px] h-[16px] border-[1px] border-solid border-[var(--primary-color6)] overflow-visible ;
}
.seller .swiper-button-next.btn-slide-next,
.seller .swiper-button-prev.btn-slide-prev,
.auctions .swiper-button-next.btn-slide-next,
.auctions .swiper-button-prev.btn-slide-prev {
    @apply absolute bottom-[-7px] opacity-100 top-auto ;
}
.seller .swiper-button-next.btn-slide-next {
    @apply right-[43.9%];
}
.auctions .swiper-button-next.btn-slide-next {
    @apply right-[43.8%];
}
.seller .swiper-button-prev.btn-slide-prev,
.auctions .swiper-button-prev.btn-slide-prev{
    @apply left-[44.5%];
}
.swiper-button-next.btn-slide-next::after,
.swiper-button-prev.btn-slide-prev::after {
    @apply duration-[0.3s] ease-in-out ;
}
.seller .swiper-button-next.btn-slide-next::after,
.seller .swiper-button-prev.btn-slide-prev::after,
.auctions .swiper-button-next.btn-slide-next::after,
.auctions .swiper-button-prev.btn-slide-prev::after {
    @apply text-[var(--primary-color2)] text-[16px] font-bold ;
}

.tf-soft .dropdown-toggle {
    @apply dark:!bg-transparent;
}
.tf-soft .dropdown-toggle:hover,
.tf-soft .show > .btn-secondary.dropdown-toggle {
    @apply border-[#5142FC] shadow-none bg-[#5142FC] dark:!bg-transparent ;
}
.tf-soft .soft-right input:checked[type=checkbox] {
    @apply bg-[#5142fc] duration-[0.5s] ;
}
.tf-soft .soft-right input:checked[type=checkbox]::before {
    @apply bg-white left-[14px] ;
}

.dropdown-menu {
    @apply !text-white dark:!bg-[#343444] ;
}
.dropdown-menu.show {
    @apply block !translate-y-0 !inset-[36px_auto_auto_-140px] ;
} 
.dropdown-toggle::after {
    @apply hidden ;
}

.seller-tab .menu-tab li.item-title.active {
    @apply bg-[#5142FC] dark:bg-[#343444];
}
.seller-tab .menu-tab li.item-title.active span {
    @apply text-white ;
}

.home6.page-title .swiper-pagination-bullet.swiper-pagination-bullet-active {
    @apply bg-white border-white before:border-white ;
}
.home6.page-title .swiper-pagination-bullet {
    @apply border-white ;
}


.side-bar.item .widget-category .btn-checkbox:after {
    @apply text-[15px] relative left-0 ;
}

.widget-category form label input:checked ~ .btn-checkbox {
    @apply bg-[var(--primary-color3)] border-[1px] border-solid border-[var(--primary-color3)] ;
}
.widget-category .btn-checkbox:after {
    @apply content-['\e921'] absolute hidden font-['nfts'] text-[10px] left-[2px] top-0 text-white;
}
.widget-category form label input:checked ~ .btn-checkbox:after {
    @apply block ;
}

.tf-item-details .content-right .themesflat-tabs .tab-content::-webkit-scrollbar,
.item .side-bar.item::-webkit-scrollbar {
    @apply w-[1px] bg-[var(--primary-color5)] ;
}
.tf-item-details .content-right .themesflat-tabs .tab-content::-webkit-scrollbar-thumb,
.item .side-bar.item::-webkit-scrollbar {
    @apply bg-[#8A8AA0] h-[30px] rounded-[100px] ;
}






 /* price-range  */
.noUi-target,.noUi-target * {
    @apply touch-none select-none ;
}
.noUi-target {
    @apply relative ;
}
.noUi-base {
    @apply w-full h-full relative z-[1] ;
}
.noUi-origin {
    @apply absolute right-0 top-0 left-0 bottom-0;
}
.noUi-handle {
    @apply relative z-[1] ;
}
.noUi-stacking .noUi-handle {
    @apply z-10
}
/* .noUi-state-tap .noUi-origin {
    -webkit-transition: left 0.3s,top .3s;
    transition: left 0.3s,top .3s;
} 
.noUi-state-drag * {
    cursor: inherit !important;
} */
.noUi-base,.noUi-handle {
    @apply translate-x-0 translate-y-0 ;
}
.noUi-horizontal {
    @apply h-[4px] ;
}
.noUi-horizontal .noUi-handle {
    @apply relative w-[16px] h-[16px] rounded-[50%] left-0 top-[-7px] bg-[#5142FC] ;
}
.noUi-horizontal .noUi-handle::after {
    @apply content-[''] w-[6px] h-[6px] rounded-[50%] bg-[#5142FC] absolute top-1/2 left-1/2 -translate-x-0 -translate-y-0 ;
}
.noUi-background {
    @apply bg-[#E5E5E5] h-[3px];
}
.noUi-connect {
    @apply bg-[#5142FC] transition-[background] duration-[0.45s] ;
}
.noUi-origin {
    @apply rounded-[2px] ;
}
.noUi-target {
    @apply w-[97%] h-[3px] rounded-[2px] mb-[15px] ;
}
.noUi-horizontal .noUi-handle.noUi-handle-upper {
    @apply left-[-7px] ;
}
.noUi-draggable {
    @apply cursor-w-resize ;
}
.noUi-vertical .noUi-draggable {
    @apply cursor-n-resize;
}
.noUi-handle {
    @apply cursor-default !box-content active:border-[8px] active:border-solid active:border-[rgba(13,13,13,0.5)] active:bg-clip-padding active:left-[-14px] active:top-[-14px] ;
}
[disabled].noUi-connect,[disabled] .noUi-connect {
    @apply bg-[#B8B8B8] ;
}
[disabled].noUi-origin,[disabled] .noUi-handle {
    @apply cursor-not-allowed ;
}
#slider-range-value1::after {
    @apply content-['-'] m-[0_5px] ;
}
.slider-labels .caption span,
.slider-labels .title {
    @apply text-[15px] leading-[26px] font-[600] ;
}
.slider-labels .title {
    @apply text-[#8A8AA0] mr-[3px] ;
}

.flat-tabs.items .menu-tab li.active::after {
    @apply absolute left-0 bottom-0 content-[''] h-[3px] w-full bg-[#5142FC] ;
}
.flat-tabs.items .menu-tab li.active span {
    @apply text-[#5142FC] dark:text-white ;
}
.flat-tabs.items .content-tab .content-inner .option .view ul li svg path {
    @apply fill-[#5142FC] duration-[0.3s] ease-in-out dark:fill-white ;
}
.flat-tabs.items .content-tab .content-inner .option .view ul li:hover svg path, 
.flat-tabs.items .content-tab .content-inner .option .view ul li.active svg path {
    @apply fill-white ;
}
.flat-tabs.items .content-tab .content-inner .option .view ul li.active {
    @apply bg-[#5142FC] dark:bg-[#343444];
}
.flat-tabs.items .content-tab .content-inner .option .view ul li.active a span {
    @apply text-white ;
}
.dropdown ul.show {
    @apply opacity-100 translate-y-0 duration-[0.3s] ;
}
.sc-card-product.style-h7 .card-media .featured-countdown .js-countdown span {
    @apply text-[16px] leading-[24px] ;
}

.question-form input[type="text"]:focus {
    @apply !border-[#5142FC] ;
}

.content-item2 .sc-card-product.menu_card.style-h7 .meta-info .info p.pricing,
.content-item2 .sc-card-product .countdown .featured-countdown span {
    @apply dark:text-white ;
}

/* animationtext */
.animationtext {
    @apply h-[70px] overflow-hidden ;
}
.cd-words-wrapper {
    @apply inline-block relative text-left ;
}
.cd-words-wrapper .item-text {
    @apply inline-block absolute whitespace-nowrap left-0 top-0 ;
}
.cd-words-wrapper .item-text.is-visible {
    @apply relative ;
}
.no-js .cd-words-wrapper .item-text {
    @apply opacity-0 ;
}
.no-js .cd-words-wrapper .item-text.is-visible {
    @apply opacity-100 ;
}
.cd-words-wrapper .item-text , 
.cd-words-wrapper .item-text i {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    -webkit-text-fill-color: rgb(0 0 0/0%);
}
.dark .cd-words-wrapper .item-text , 
.dark .cd-words-wrapper .item-text i {
    @apply text-[#14141f] bg-[linear-gradient(-45deg,#E250E5,#4B50E6,#E250E5,#4B50E6)] bg-[length:100%_100%];
    -webkit-background-clip: text;
    -webkit-text-stroke: 3px transparent;
    -webkit-text-fill-color: #14141f;
}
/* animationtext.slide */
.animationtext.slide span {
    @apply inline-block;
}
.animationtext.slide .cd-words-wrapper {
    @apply overflow-hidden align-top;
}
.animationtext.slide .item-text {
    @apply opacity-0 top-[0.2em] ;
}
.animationtext.slide .item-text.is-visible {
    @apply top-0 opacity-100 animate-[slidein_0.6s] ;
}
.animationtext.slide .item-text.is-hidden {
    @apply animate-[slideout_0.6s] ;
} 
/* animationtext.rotate-3 */
.animationtext.rotate-3 .cd-words-wrapper {
    -webkit-perspective: 300px;
    -moz-perspective: 300px;
    perspective: 300px;
}
.animationtext.rotate-3 .item-text {
    @apply opacity-0 ;
}
.animationtext.rotate-3 i {
    @apply inline-block rotate-[0_180deg] ;
    backface-visibility: hidden;
}
.is-visible .animationtext.rotate-3 i {
    @apply rotate-0 ;
}
.animationtext.rotate-3 i.in {
    @apply animate-[cdrotate3in_0.6s_forwards] ;
}
.animationtext.rotate-3 i.out {
    @apply animate-[cdrotate3out_0.6s_forwards] ;
}
.no-csstransitions .animationtext.rotate-3 i {
    @apply rotate-0 opacity-0 ;
}
.no-csstransitions .animationtext.rotate-3 .is-visible i {
    @apply opacity-100 ;
}

.tf-item-details .content-right .meta-item-details .count-down .countdown__item {
    @apply text-[var(--primary-color2)] font-bold text-[18px] leading-[26px];
}
.tf-item-details .content-right .meta-item-details .js-countdown .countdown__label {
    @apply m-[0_5px] ;
}
.tf-item-details .content-right .meta-item-details .countdown__item:last-child .countdown__label {
    @apply m-0 ;
}

.tf-item-details .content-right .themesflat-tabs .tab-title li.active {
    @apply text-[var(--primary-color3)] after:content-[''] after:absolute after:bottom-[-8px] after:left-0 after:w-full after:h-[2px] after:bg-[var(--primary-color3)] ;
}

.tf-item-details .content-right .meta-item-details .count-down .countdown__item {
    @apply text-[var(--primary-color2)] font-bold text-[18px] leading-[26px];
}
.tf-item-details.style-2 .content-right .meta-item-details .countdown__value {
    @apply inline-block w-[44px] h-[58px] leading-[58px] text-center bg-[var(--primary-color3)] rounded-[6px] font-bold text-[20px] text-white ;
}
.tf-item-details.style-2 .content-right .meta-item-details .js-countdown .countdown__label {
    @apply m-[0_11.1px] text-[30px] text-[#8A8AA0] ;
}
.tf-item-details.style-2 .content-right .meta-item-details .countdown__item:last-child .countdown__label {
    @apply m-0 ;
}

.widget-filter a.box-widget-filter.active, .widget-filter a.box-widget-filter:hover {
    @apply bg-[var(--primary-color3)] text-white ;
}
.widget-filter a.box-widget-filter.active i,
.widget-filter a.box-widget-filter:hover i {
    @apply text-white duration-[0.3s] ease-in-out ;
}

.widget-filter .btn-checkbox {
    @apply absolute top-0 left-0 w-[28px] h-[28px] bg-transparent rounded-[8px] after:absolute after:content-['\e921'] after:font-['nfts'] after:left-[6px] after:top-[2px] after:text-white ;
}
.widget-filter.style-1 form label input:checked~.btn-checkbox {
    @apply bg-[var(--primary-color3)] border-[1px] border-[var(--primary-color3)] after:block ;
}

.help-center-form input::placeholder {
    @apply text-[18px] ;
}
.tab-authors .menu-tab .tablinks.active {
    @apply text-[var(--primary-color3)] relative ;
}